#box {
    /* position: absolute; */
    margin-left: 20%;
    top: 15%;
    width: 950px;
    height: 600px;
    border: 1px solid purple;
    border-radius: 40%;
    background-color: rgb(219, 180, 238);
}

h1 {
    font-family: fantasy;
    font-size: 70px;
    color: #7a0785;
    text-align: center;


}

a {
    color: #7a0785;
    font-size: 30px;

}

p {
    text-indent: 10%;
    font-size: 30px;

}

#question {
    color: rgb(36, 5, 5);
    font-size: 30px;
    margin-top: 110px;
    padding-right: 20px;
    padding-left: 82px;


}

#createDiv {
    text-indent: 100px;
    font-size: 20px;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(100, 6, 112);
}

#startQuiz {
    display: inline-block;
    padding: 18px 30px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7a0785;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 430px;
    margin-top: 40px;
}

#startQuiz:hover {
    background-color: #dd60e9;
}

#startQuiz:active {
    background-color: #8e3e81;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#quizBox {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    padding-left: 20px;

}

#currentTime {
    float: right;
    margin-top: -25px;
    color: #7a0785;
    font-size: 30px;
}

#goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 60%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



#clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

strong {
    color: red;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 80px;
}

input {
    margin-bottom: 20px;
    width: 40%;
    height: 40px;
    border: 2px solid lightgray;
}

ul {
    padding-left: 150px;
}

li {
    background-color: rgb(175, 92, 175);
    margin-top: 30px;
    padding: 10px 15px;
    width: 60%;
    font-size: 25px;
    color: white;
    padding-left: 30px;
}


#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

.hide {
    display: none;
}

#endGame {
    margin-left: 35%;
    margin-top: 15%;
}